nav {
    display: flex;
    overflow-x: scroll;
    padding: 10px 5px 10px 5px;
    border: 2px solid #2c3135;
    border-radius: 10px;
}

nav button {
    margin: 0 5px 0 5px;
    border: 0;
    background-color: #2c3135;
    border-radius: 7px;
    padding: 15px;
    font-size: 20px;
    color: white;
}

body {
    max-width: 850px;
    min-height: 100vh;
    margin: auto;
    background: black;
    color: white;
    font-size: 125%;
    padding: 20px;
    font-family: sans-serif;
}

h1, h2, h3 {
    text-align: left;
    margin: 15px 0 15px 0;
    padding: 10px;
}

h1 {
    border-bottom: 2px solid #2c3135;
}

header img {
    max-width: 100%;
    border-radius: 15px;
    margin: 5px 0 5px 0;
}

a {
    color: blue;
}

a:visited {
    color: blue;
}
