html {
    max-width: 1050px;
    min-height: 100vh;
    margin: auto;
    background: black;
    color: white;
    font-size: 125%;
    font-family: sans-serif;
}

body {
    padding: 20px;
}

h1, h2, h3 {
    text-align: left;
    margin: 25px 0 5px 0;
    padding: 10px;
}

h1 {
    border-bottom: 2px solid #2c3135;
}

footer {
    text-align: center;
    font-size: small;
    padding-top: 20px;
}

nav {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: None;
    padding: 10px 5px 10px 5px;
    border: 2px solid #2c3135;
    border-radius: 10px;
}

button {
    margin: 0 5px 0 5px;
    border: 0;
    background-color: #2c3135;
    border-radius: 7px;
    padding: 15px;
    font-size: 20px;
    color: white;
}

div {
    display: flex;
    overflow: auto;
    align-items: center;
    scrollbar-width: None;
}

div p {
    margin-left: 20px;
}

a {
    color: #0000EE;
}

a:visited {
    color: #0000EE;
}

header img {
    max-width: 100%;
    border-radius: 15px;
    margin: 5px 0 5px 0;
}

@media (max-width: 768px) and (pointer: coarse) {
    html {
        font-size: 150%;
    }
    nav button {
        margin: 0 5px 0 5px;
        font-size: 30px;
    }
    footer {
        font-size: medium;
    }
}
